name: Build Raw Data

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - run: |
          pip install pandas yfinance

      - run: |
          PYTHONPATH=. python app/build_raw_data.py

      - uses: actions/upload-artifact@v4
        with:
          name: raw_data
          path: data/raw_data.csv
