name: Filter Experiment

on:
  workflow_dispatch:

jobs:
  run-filter-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pandas numpy

      - name: Run filter experiment
        run: |
          PYTHONPATH=. python app/filter_experiment.py

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: filter-experiment-results
          path: data/filter_experiment_results.csv
